@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*=====================================================================================*/
  /* section one */
  /*=====================================================================================*/
  #frontCard {
    background: no-repeat url("../../assets/images/bg-card-front.png");
    background-size: cover;
    @apply rounded-xl flex flex-col justify-around border-2 border-black;
    @apply lg:w-[32rem] lg:h-[18rem] md:px-[2.3vw] lg:px-[2.3rem] md:w-[38vw] md:h-[22vw];
  }
  #frontCard-s1 {
    @apply flex  justify-between w-[6.2rem];
  }
  #frontCard-s1-bc {
    @apply bg-white h-[3.3rem] w-[3.3rem] rounded-full;
  }
  #frontCard-s1-sc {
    @apply border-[1px] border-white h-[1.7rem] w-[1.7rem] rounded-full mt-[8px];
  }
  /*=====================================================================================*/
  /* section 2 */
  /*=====================================================================================*/
  #frontCard-s2 {
    @apply flex flex-col justify-between h-[7rem] text-white;
  }
  #frontCard-s2-cardNumber {
    @apply md:text-[2.5vw] lg:text-[2.2rem];
    word-spacing: 9px;
  }
  #frontCard-s2-bottomDetails {
    @apply flex justify-between text-[0.9rem];
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}
