@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*=====================================================================================*/
  /* section one */
  /*=====================================================================================*/
  #frontCard {
    background: no-repeat url("../../assets/images/bg-card-front.png");
    background-size: cover;
    @apply rounded-xl flex flex-col justify-around relative z-[1];
    @apply lg:w-[32rem] lg:h-[18rem] md:px-[2.3vw] mbl:px-[1.5rem] lg:px-[2.3rem] md:w-[38vw] md:h-[22vw] xs:w-[25rem] xs:h-[13rem] mbl:w-[75vw] mbl:h-[12rem];
  }
  #frontCard-s1 {
    @apply flex  justify-between md:w-[6.2rem] mbl:w-[4rem] items-center;
  }
  #frontCard-s1-bc {
    @apply bg-white  rounded-full;
    @apply md:h-[3.3rem] md:w-[3.3rem] mbl:h-[2.2rem] mbl:w-[2.2rem];
  }
  #frontCard-s1-sc {
    @apply border-[1px] border-white rounded-full;
    @apply md:h-[1.7rem] md:w-[1.7rem] mbl:h-[0.9rem] mbl:w-[0.9rem];
  }
  /*=====================================================================================*/
  /* section 2 */
  /*=====================================================================================*/
  #frontCard-s2 {
    @apply flex flex-col justify-between h-[7rem] text-white;
  }
  #frontCard-s2-cardNumber {
    @apply md:text-[2.5vw] lg:text-[2.2rem] xs:text-[1.8rem] mbl:text-[5vw];
    word-spacing: 9px;
  }
  #frontCard-s2-bottomDetails {
    @apply flex justify-between uppercase text-[0.9rem] tracking-[3px];
  }
}
