html {
  font-size: 62.5%;
}

body {
  font-family: "Space Grotesk", sans-serif;
}

/* Hide the default number input buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-input-placeholder {
  appearance: none;
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
